{% extends 'base.html' %}

{% block title %}VIEW CUSTOMER{% endblock title %}

{% block body %}

<h1 class="text-center my-1"></h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-3">
            <h2 class="mbr-section-title align-left  pb-2  display-6">View Customer </h2><hr>
        </div>
    </div>
</div>

<div class="container sm-2">
    {%if vc%}

    <table class="table table-light table-striped ">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            {%for s in vc %}
            <tr>

                <td>{{s.name}}</td>
                <td>{{s.amount}}</td>
            </tr>
            {% endfor %}

        </tbody>
        {% endif %}
    </table>
</div>

<div class="container d-flex justify-content-center">
    <div class="card mb-3 mt-2 w-60 shadow-lg p-2 mb-5 bg-white rounded">
    <form method="post" class="text-center">
        {% csrf_token %}
        <label for="bookname" class="form-label  mt-4 h3"><b>Select customer to View details </b></label><br></br>
        <select class="form-select  mt-5 " aria-label="Default select example" id="name" name="name">
            {% for c in vc %}
             <option value="" disabled selected hidden>--------Select Name--------</option>
            <option value="{{c.name}}">{{c.name}}</option>
            {% endfor %}
        </select>

      <br></br><button type="submit" class="btn btn-primary btn-lg btn-block mt-3 mb-5">View</button>


    </form>

    <div class="container " style="font-size: 20px; font-weight:normal">
    {%if cv%}

    <label class="form-label  mt-1 "><b>Customer ID :</b>{{ cv.customer_id }}</label><br></br>
    <label class="form-label  mt-1 "><b>Name : </b>{{ cv.name }}</label><br></br>
    <label class="form-label  mt-1 "><b>Phone Number : </b>{{ cv.phone }}</label><br></br>
    <label class="form-label  mt-1 "><b>Email ID : </b>{{ cv.email }}</label><br></br>
    <label class="form-label  mt-1 "><b>Amount : </b></label>{{ cv.amount }}<br></br>

        {% endif %}

    </div>
</div>

</div>

{% endblock body %}
